@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    /* Дополнительные форматы шрифтов, если они есть */
    font-style: normal; /* Стиль шрифта */
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    /* Дополнительные форматы шрифтов, если они есть */
    font-style: normal; /* Стиль шрифта */
}

input[type="submit"] {
    background: #2b2f30;
    border: none;
    color: #6c6c6c;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 4px 15px 4px 15px;
}

input[type="submit"]:hover {
    background: #4b5156;
    color: #d5d5d5;
    transition: 0.2s ease;
}

p {
    padding: 0px;
    margin: 0px;
}

h4 {
    margin: 0px 0px 0px 0px;
}

body {
    background-color: #1a1a1a;
    color: #cccccc;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 50px 5% 50px 5%;
    /* Для Firefox */
    scrollbar-width: auto; /* ширина полосы прокрутки */
    scrollbar-color: #303030 #1a1a1a; /* цвет полосы прокрутки и фона трека */
}

body.homepage {
    background: url("../images/bg-1hp.webp") no-repeat center center fixed;
    background-size: cover;
}

a {
    color: #3082c2;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #5eb8ff;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #3082c2;
    color: #f2f2f2;
    transition: background-color 0.2s ease;

}

button:hover {
    background-color: #5eb8ff;
}

.hp-big {
    width: 100px;
    height: 30px;
}

.top-nav {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 100%;
    transition: opacity 0.5s ease;
}

.form-divider {
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: #d3d3d3;
    height: 70%;
}

label {
    display: none;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.form-field label {
    width: 100px;
    margin-right: 10px;
}

.form-field input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.form-field input:focus {
    outline: none;
    border-color: #007bff;
}

.signing-form {
    width: 250px;
    margin-top: 30px;
}

.signup-form {
    width: 250px;
    margin-top: 30px;
}

.signing-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signing-form input[type="submit"]:hover {
    background-color: #0062cc;
}

.signup-form input[type="submit"]:hover {
    background-color: #0062cc;
}

.form-wrapper:hover {
    opacity: 1;
    filter: brightness(1.05);
    z-index: 1;
}

.form-wrapper:not(:hover) {
    opacity: 0.5;
    filter: brightness(0.75);
    z-index: 0;
}

.form-wrapper:nth-child(1) {
    margin-right: 20px;
}

.form-wrapper:nth-child(2) {
    margin-left: 20px;
}

.empty-space {
    margin-top: 40px;
}

/* ------------------------------------ Home page ------------------------------------ */


.overlay::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20 30 29 / 86%);
    z-index: 1;
}

.auth-line {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.bottom-left-text {
    position: absolute;
    bottom: 20%;
    left: 200px;
    z-index: 2;
}

.bottom-center-button {
    position: absolute;
    bottom: 20%;
    left: 80%;
    transform: translateX(-50%);
    z-index: 2;
}

/*   ------------------ websites-------------------   */

.web-show-stat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
}

.web-show-stat {
    width: 33.33%;
    display: inline-block;
    background: #242424;
    padding: 0px 0px 0px 0px;
    border-radius: 0.3rem;
    text-align: left;
    transition: 0.2s ease-out;
    min-height: 200px;
    flex: 0 1 calc(33.33% - 10px);
    margin: 0 5px 50px 5px;
}

.web-show-stat:hover {
    background: rgb(63 108 135 / 90%);
    transition: 0.2s ease-out;;
}

.header-web-show {
    background: rgba(43, 47, 48, 0.9);
    padding: 15px 20px 15px 20px;
    text-transform: capitalize;
    border-radius: 0.3rem 0.3rem 0.0rem 0.0rem

}

.bottom-web-show {
    display: flex;
    width: 100%;
    align-items: center;
    height: 38px;
    border-top: 1px solid #303030;
    background: rgba(36, 36, 36, 0.9);

}

.body-web-show {
    padding: 20px 20px 20px 20px;
    background: rgba(36, 36, 36, 0.9);
}

.part-remove {
    width: 20%;
    padding-right: 20px;
    padding-left: 15px;
}

.part-update {
    width: 20%;
    padding-right: 20px;
    padding-left: 15px;
    border-right: 1px solid #303030;
}

input.update-in {
    background: none;
}

.part-info {
    width: 60%;
    padding-left: 20px;
    border-right: 1px solid #303030;
    font-size: 14px;
}

input.rem-in[type="submit"] {
    background: #fff0;
}

input.update-in-info[type="submit"] {
    background: none;
    color: #ebebeb;
    width: 20%;
    min-width: 150px;
}

input.update-in-info[type="submit"]:hover {
    background: #338078;
}

input.remove-in-info[type="submit"] {
    background: none;
    color: #ebebeb;
    width: 20%;
    min-width: 150px;
}

input.remove-in-info[type="submit"]:hover {
    background: #c43939;
}

input.rem-in[type="submit"]:hover {
    color: #b22626;
}

input.update-in[type="submit"]:hover {
    color: #338078;
    background: none;
}

.info-block {
    display: flex;
    width: 100%;
    align-items: flex-start;;
    /*background: rgba(36, 36, 36, 0.9);*/
}

.menu-line {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    padding: 20px 0px 40px 0px;
}

.info-left-list {
    width: 30%;
    border-right: 1px solid #303030;
}

.info-right-details {
    width: 70%;
    padding: 0px 20px 20px 40px;
    /*background-color: #1a1a1a;*/
}

.web-show-inline {

}

.menu-item {
    padding-left: 20px;
}

.info-right-line {

}

.info-item {
    display: flex;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #303030;
}

.line-value {
    padding-left: 10px;
}

.line-label {
    color: #5c5c5c;
    width: 70px;
}

.info-item-rem {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

img.preview-img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 150px;
}

.search-result {
    margin: 0px 10px 20px 0px;
}

input.search-input {
    margin: 0px 10px 0px 10px;
    height: 15px;
}

div#add-item-module {
    text-align: center;
}

a.a-list {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #303030;
    width: 85%;
    transition: 0.2s ease-out;
    text-transform: lowercase;
}

a.a-list:hover {
    background: rgb(38 38 38 / 90%);
    transition: 0.2s ease-out;
}

li.list-li {
    list-style-type: none;
}

ul {
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

.list-web-items {
    padding: 0px 0px 20px 0px;
}

/* - - - - - - - - - - - - - - - - - - */

/* Для WebKit */
::-webkit-scrollbar {
    width: 12px; /* ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* цвет фона трека */
}

::-webkit-scrollbar-thumb {
    background: #303030; /* цвет полосы прокрутки */
}

img.image-preview {
    width: 100%;
    margin-bottom: 20px;
}

div#body-web-line {
    display: flex;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #2e2e2e;
    font-size: 15px;
}

div#label {
    color: #646464;
    width: 25%;
    min-width: 80px;
}

div#details {
    width: 15%;
    min-width: 115px;
}


/* - - - - - - - - - - - - - - - - - - */


